<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Projects</h3>
    {% if page.title == "Home" %}
      {% for item in site.data.projects.featured %}
        <p><a href="{{ site.github.url }}/{{ item.url }}" download="download">{{ item.name }}</a></p>
        <img src="{{ site.github.url }}{{ item.image }}" alt="Project" width="100%">
      {% endfor %}
    {% else %}
      {% for item in site.data.projects.index %}
         <p><a href="{{ site.github.url }}/{{ item.url }}" download="download">{{ item.name }}</a></p>
        <img src="{{ site.github.url }}{{ item.image }}" alt="Project" width="100%">
      {% endfor %}
    {% endif %}
  </div>
</div>